@page "/"
@page "/page/{PageNumber:int}"

@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Blazor.Helper
@using Microsoft.AspNetCore.Components.Authorization

@inject CouplesJournalDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Roles="Contributor">
    <Authorized>
        @if (HasJournals)
        {
            <JournalPagination PageNumber=@PageNumber.Value PageSize=5 MaxPageLinks=5>
                <Content Context="journals">
                    <JournalList Journals=@journals />
                </Content>
            </JournalPagination>
        }
        else
        {
            <span>There are no Journal entries at this time...</span>
        }
    </Authorized>
    <NotAuthorized>
        <div>
            @((MarkupString) Welcome.ConvertToMarkdown())
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [Parameter]
    public int? PageNumber { get; set; }

    public string Welcome => "***Welcome*** to Couples Journal. An application to allow couples to share intimate writings.";
    private bool HasJournals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();        

        var api = new CouplesJournalDataApi(DbContext, authState.User);
        HasJournals = api.HasJournalsToView();
    }

    protected override void OnParametersSet()
    {
        if (PageNumber == null || !PageNumber.HasValue)
        {
            PageNumber = 0;
        }
    }
}
