@page "/MyJournals"

@attribute [Authorize(Roles = "Contributor")]

@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities
@using Microsoft.AspNetCore.Components.Authorization

@inject CouplesJournalDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>My Journal Entries</h3>

@if (Journals.Any())
{
    <JournalList Journals=@Journals />
}
else
{
    <span>You do not have any journal entries yet.</span>
}

@code
{
    private List<JournalEntry> Journals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var api = new CouplesJournalDataApi(DbContext, authState.User);

        Journals = (await api.GetMyJournalEntriesAsync(user.Identity.Name)).ToList();
    }
}