@page "/MyJournals"

@attribute [Authorize(Roles = "Contributor")]

@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities
@using Microsoft.AspNetCore.Components.Authorization

@inject CouplesJournalDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (Journals.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col mw-100">
                <JournalList Journals=@Journals />            
            </div>
        </div>
    </div>
}
else
{
    <span>You do not have any journal entries yet.</span>
}

@code
{
    [Parameter]
    public int? PageNumber { get; set; }

    private List<JournalEntry> Journals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var api = new CouplesJournalDataApi(DbContext, authState.User);

        Journals = (await api.GetMyJournalEntriesAsync(user.Identity.Name)).ToList();
    }

    protected override void OnParametersSet()
    {
        if (PageNumber == null || !PageNumber.HasValue)
        {
            PageNumber = 0;
        }
    }
}