# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     linguist-language=csharp
*.razor  linguist-language=csharp
*.html   linguist-language=csharp
*.css    linguist-language=csharp
*.js     linguist-language=csharp