# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     linguist-language=csharp
*.razor  linguist-language=csharp
*.html   export-ignore
*.css    export-ignore
*.js     export-ignore