@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities
@using CouplesJournal.Mail
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject CouplesJournalDbContext DbContext
@inject IMailService MailService
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm Model="@Reply" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="w-100 mh-100" style="padding-top:15px;">
        <textarea class="form-control" placeholder="Enter Reply Here..." style="height: 100px;"
        @bind=@Reply.Body></textarea>
        <div style="padding-top:15px; text-align:right">
            <button type="submit" class="btn btn-primary" style="display:inline;">Submit</button>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public string JournalId { get; set; }

    private JournalReply Reply = new JournalReply();

    private ClaimsPrincipal _user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;
    }

    private async Task Submit()
    {
        var api = new CouplesJournalDataApi(DbContext, _user);
        var journalIdGuid = Guid.Parse(JournalId);
        await api.AddJournalEntryReplyAsync(journalIdGuid, Reply);

        var journal = await api.GetJournalEntryAsync(Guid.Parse(JournalId));
        var replyToUser = await UserManager.FindByNameAsync(journal.UserName);

        if (replyToUser.UserName != _user.Identity.Name)
        {
            // https://localhost:5001/ViewJournal/2686a141-733c-42e3-b9d9-9e6a48b9c47f
            var journalLink = $"{NavigationManager.BaseUri}/ViewJournal/{JournalId}";

            await MailService.SendEmailAsync(new Mail.MailRequest
            {
                To = replyToUser.Email,
                Subject = $"{replyToUser.UserName} replied to your journal entry",
                Body = $"Hello,<br><br>{replyToUser.UserName} replied to '{journal.Title}'<br><br>You can view it here: {journalLink}"
            });
        }

        NavigationManager.NavigateTo($"/ViewJournal/{JournalId.ToString()}", true);
    }
}