@using Microsoft.AspNetCore.Http
@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities

@inject CouplesJournalDbContext DbContext
@inject IHttpContextAccessor HttpAccessor

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @Content(Journals)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination" style="justify-content: center;">
                @foreach (var x in Enumerable.Range(1, TotalPages))
                {
                    <li key=x class="page-item @(PageNumber == x ? "active" : "")">
                        <a class="page-link" href=@($"/page/{x}")>@x</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment<List<JournalEntry>> Content { get; set; }

    [Parameter]
    public int PageNumber { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    private int TotalPages { get; set; }

    private List<JournalEntry> Journals { get; set; }

    protected override void OnInitialized()
    {
        using var api = new CouplesJournalDataApi(DbContext, HttpAccessor);
        TotalPages = api.GetTotalJournals() / PageSize;

        StateHasChanged();
    }

    protected async override Task OnParametersSetAsync()
    {
        using var api = new CouplesJournalDataApi(DbContext, HttpAccessor);
        Journals = (await api.GetPagedJournalEntriesAsync(PageNumber, PageSize)).ToList();
    }

}