@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities
@using Microsoft.AspNetCore.Http

@inject NavigationManager NavigationManager
@inject CouplesJournalDbContext DbContext
@inject IHttpContextAccessor HttpAccessor

<EditForm Model="@Reply" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="w-100 mh-100" style="padding-top:15px;">
        <textarea class="form-control" placeholder="Enter Reply Here..." style="height: 100px;" @bind=@Reply.Body></textarea>
        <div style="padding-top:15px; text-align:right">
            <button type="submit" class="btn btn-primary" style="display:inline;">Submit Reply</button>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public Guid EntryId { get; set; }

    private JournalReply Reply = new JournalReply();

    private async Task Submit()
    {
        var api = new CouplesJournalDataApi(DbContext, HttpAccessor);

        await api.AddJournalEntryReplyAsync(EntryId, Reply);

        NavigationManager.NavigateTo($"/ViewJournal?journalId={EntryId}", true);
    }
}