@using Microsoft.AspNetCore.Http
@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities

@inject CouplesJournalDbContext DbContext
@inject IHttpContextAccessor HttpAccessor

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

@code
{
    // FIXME: NOT FINISHED

    // TODO: We really want to make this a generic component that can page
    // anything we want. Instead of doing that now we'll just make it page
    // journal entries. Later we can make it generic!!!       

    [Parameter]
    public RenderFragment<List<JournalEntry>> Content { get; set; }

    [Parameter]
    public int PageNumber { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    private int TotalPages { get; set; }

    protected override void OnInitialized()
    {
        using var api = new CouplesJournalDataApi(DbContext, HttpAccessor);
        TotalPages = api.GetTotalJournals() / PageSize;
    }

    private void PageLinkClicked(int pageLink)
    {
        // handler for when a user clicks a page link
    }
}