@namespace CouplesJournal.Components

@using System.Linq
@using CouplesJournal.Data.Entities

<div class="container-fluid">
    <div class="row">
        <div class="col mw-100">
            @foreach (var entry in Entries)
            {
                <div @key=entry class="card" style="margin-bottom: 15px;">
                    <div class="card-body">
                        <h5 class="card-title">@entry.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By: User1</h6>
                        <p class="card-text">
                            @($"{new String(entry.Body.Take(250).ToArray())}...")
                        </p>
                        <a href=@($"/ViewJournal?journalId={entry.Id}") class="card-link">Read More...</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<JournalEntry> Entries { get; set; }
}
