@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities

@inject ICouplesJournalDataApi DataApi
@inject NavigationManager NavigationManager

<EditForm Model="@Reply" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container-fluid">
        <div class="row">
            <div class="w-100 mh-100" style="padding-top:15px;">
                <textarea class="form-control" placeholder="Enter Reply Here..." style="height: 550px;" @bind=@Reply.Body></textarea>
            </div>

            <div class="w-100 mh-100" style="padding-top:15px; text-align:right;display:inline;">
                <button type="submit" class="btn btn-primary" style="display:inline;">Submit Reply</button>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    private JournalEntry Entry = new JournalEntry();
    private JournalReply Reply = new JournalReply();

    private async Task Submit()
    {
        await DataApi.AddJournalEntryReplyAsync(Entry.Id, Reply);

        NavigationManager.NavigateTo($"/ViewJournal?journalId={Entry.Id}");
    }
}