@page "/EditJournal"

@attribute [Authorize(Roles = "Contributor")]

@using CouplesJournal.Data.API
@using Microsoft.AspNetCore.WebUtilities

@inject ICouplesJournalDataApi DataApi
@inject NavigationManager NavManager

@if(EntryId != Guid.Empty)
{
    <JournalEdit EntryId=@EntryId></JournalEdit>
}
else
{
    <span>@ErrorMessage</span>
}

@code
{
    private Guid EntryId { get; set; }
    private string ErrorMessage { get; set; } = "Entry Id cannot be an empty Guid";

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("journalId", out var _journalId))
        {
            try
            {
                EntryId = Guid.Parse(_journalId);
            }
            catch (Exception e)
            {
                ErrorMessage = e.Message;
            }
        }
    }
}