@page "/EditJournal/{JournalId}"

@attribute [Authorize(Roles = "Contributor")]

<h3>Edit Journal Entry</h3>

<JournalEdit JournalId=@JournalId></JournalEdit>

@code
{
    [Parameter]
    public string JournalId { get; set; }
}