@page "/"

@using Markdig;
@using CouplesJournal.Helper;

<AuthorizeView>
    <Authorized>
        A list of recent journals would be listed here...
    </Authorized>
    <NotAuthorized>
        <div>
            @(((MarkupString)Welcome).Sanitize())
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    public string Welcome => Markdown.ToHtml("***Welcome*** to Couples Journal. An application to allow couples to share intimate writings.");
}