@page "/"

@using Markdig
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities
@using CouplesJournal.Helper

@inject ICouplesJournalDataApi DataApi

<AuthorizeView>
    <Authorized>
        <JournalList Entries=@Entries></JournalList>
    </Authorized>
    <NotAuthorized>
        <div>
            @(((MarkupString)Welcome).Sanitize())
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    public string Welcome => Markdown.ToHtml("***Welcome*** to Couples Journal. An application to allow couples to share intimate writings.");
    private List<JournalEntry> Entries { get; set; } = new List<JournalEntry>();

    protected override async Task OnInitializedAsync()
    {
        Entries = (await DataApi.GetJournalEntriesAsync()).ToList();
    }
}
