@page "/MyJournals"

@attribute [Authorize(Roles = "Contributor")]

@using Microsoft.AspNetCore.Http
@using CouplesJournal.Data
@using CouplesJournal.Data.API
@using CouplesJournal.Data.Entities

@inject CouplesJournalDbContext DbContext
@inject IHttpContextAccessor HttpAccessor

<h3>My Journal Entries</h3>

@if(Entries.Any())
{
    <JournalList Entries=@Entries />
}
else
{
    <span>You do not have any journal entries yet.</span>
}

@code
{
    private List<JournalEntry> Entries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var api = new CouplesJournalDataApi(DbContext, HttpAccessor);

        Entries = (await api.GetMyJournalEntriesAsync()).ToList();
    }
}