@page "/ViewJournal/{JournalId}"

@attribute [Authorize(Roles = "Contributor")]

@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavigationManager

<h3>View Journal Entry</h3>

<JournalView JournalId=@JournalId></JournalView>

@code
{
    [Parameter]
    public string JournalId { get; set; }
}