<AuthorizeView>
    <Authorized>
        <MyStats UserName=@context.User.Identity.Name></MyStats>
        <a class="white-text" href="Identity/Account/Manage">Welcome, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link white-text">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>